<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="public/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    </head>
    <body>

        <section class="navbar">
            <nav  id="home-nav">
                <li><a href="home" class="logo">KEEPSKATING</a></li>
                <li class="op-links"><a href="home">HOME</a></li>
                <li class="op-links"><a href="lessons">LESSONS</a></li>
                <li class="op-links"><a href="about">ABOUT</a></li>
                <li class="op-links"><a href="contact">CONTACT</a></li>
                <li class="op-links"><a href="media">MEDIA</a></li>
                <li class="op-links" id="social-icon"><a href="http://www.instagram.com"><img src="public/img/ig-logo.png" class="sm-o-logo"></a></li>
            </nav>
        </section>
        <h2>About</h2>
        <section>
            <article>
                <div class="text" id="about-blurb">
                    Welcome to Keep Skating skate school. We are Los Angeles - based skateboarding instructors with years of competition experience and even more years of instruction experience. Our goal is to help skaters of all ages and experience levels overcome the many hurdles that are boarding progression and keep skating! There are a lot of lessons skateboarding teaches that are invaluable in other areas of life: not being afraid of failure, weathering fear, and appreciating the grind. Sign up for a session today. 
                </div>
            </article>
        </section>
        <script src="public/js/app.js"></script>
    </body>
</html>