<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Lessons</title>
        <link rel="stylesheet" type="text/css" href="public/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    </head>
    <body>
        <section class="navbar">
            <nav  id="home-nav">
                <li><a href="home" class="logo">KEEPSKATING</a></li>
                <li class="op-links"><a href="home">HOME</a></li>
                <li class="op-links"><a href="lessons">LESSONS</a></li>
                <li class="op-links"><a href="about">ABOUT</a></li>
                <li class="op-links"><a href="contact">CONTACT</a></li>
                <li class="op-links"><a href="media">MEDIA</a></li>
                <li class="op-links" id="social-icon"><a href="http://www.instagram.com"><img src="public/img/ig-logo.png" class="sm-o-logo"></a></li>
            </nav>
        </section>
        <h2>Lessons</h2>
        <section class="testimonial-container">
            <div class="testi-row">
                <div class="testi-col">
                    <p class="testi-txt">PTedge did a great job finding the right school for me. When I first looked at the long list of schools I had no direction and didn't even know where to start. It was overwhelming and PTedge did a great job helping me find my way.</p>
                    <br>
                    <p class="testi-sig">Peter (Age 23)</p>
                </div>
                <div class="testi-col">
                    <p class="testi-txt">I want to thank PTedge for helping prepare me for my interview process. I ended up visiting numerous schools for interviews and I felt more prepared than other applicants </p>
                    <br>
                    <p class="testi-sig">Jerry (Age 14)</p>
                </div>
                <div class="testi-col">
                    <p class="testi-txt">PT edge helped me with my essay revisions for some of the schools I applied to. I think they did a great job on helping me get my point across and organizing my essays.</p>
                    <br>
                    <p class="testi-sig">Joe (Age 29)</p>
                </div>
            </div>

        

        </section>

        <section class="instructors">
            <p class= "sub-title">Meet The Instructors</p>
            <img src="public/img/kev-sf-e.jpg" class="instruct-pic" id="instruct-1-pic">
            <div class="instruct-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac vehicula diam, et aliquet leo. Donec neque nisi, mattis ac magna at, ornare pellentesque velit. Cras semper fermentum sapien, ac lobortis quam fermentum at. Mauris consequat augue id felis faucibus luctus. Phasellus mollis a felis viverra maximus. Nam a laoreet elit. Aliquam vitae enim in massa volutpat interdum vel id purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla nec odio fringilla, efficitur urna vel, facilisis nulla. Praesent eget dolor ac tortor blandit euismod. Nulla scelerisque elit tortor, sit amet mattis augue dapibus ullamcorper. Mauris pellentesque justo eu libero vehicula interdum vitae quis mauris. Phasellus vel aliquet massa, eget iaculis ex. Phasellus vestibulum urna sed tellus pretium fringilla.</div>
        </section>
        <section class="lesson-bd">
            <div class="lesson-container" id="v-lesson">
                <p class="lesson-title">Virtual Lessons</p>
                <br>
                <p class="price-line">40$ per hour<br>25$ for a half hour</p>
                <p>Every benefit of in-person lessons, but with the convenience of being anywhere you can bring your phone (not to mention adhering to social distancing guidelines)! New users who purchase a 3 hour package will receive a starter kit to make virtual lesson set-up even more seamless. Push your skateboarding progress during this time of uncertainty in the safety and comfort of your own space.</p>

                           </div>
            <div class="lesson-container" id="ip-lesson">
                <p class="lesson-title">In-Person Lessons</p>
                <br>
                <p class="price-line">50$ per hour lesson</p>
                <p>Can't seem to get a trick quite right? Or just want to get better and form/reinforce solid skateboarding habits? Join one of our experienced instructors for some invaluable one-on-one instruction. Our instructors are exceptional at breaking down tricks into small parts and identifying the fine adjustments you need to master them. These sessions can be anywhere from the local skatepark to your own driveway.</p>
            </div>
        </section>
        <script src="public/js/app.js"></script>
    </body>
</html>