<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Media</title>
        <link rel="stylesheet" type="text/css" href="public/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    </head>
    <body>

        <section class="navbar">
            <nav id="home-nav">
                <li><a href="home" class="logo">KEEPSKATING</a></li>
                <li class="op-links"><a href="home">HOME</a></li>
                <li class="op-links"><a href="lessons">LESSONS</a></li>
                <li class="op-links"><a href="about">ABOUT</a></li>
                <li class="op-links"><a href="contact">CONTACT</a></li>
                <li class="op-links"><a href="media">MEDIA</a></li>
                <li class="op-links" id="social-icon"><a href="http://www.instagram.com"><img src="public/img/ig-logo.png" class="sm-o-logo"></a></li>
            </nav>
        </section>
        <h2>Media</h2>
        <section class="media-pics">
            <img src="public/img/johnny-bs.jpg" alt="pic-1" class="med-pics">
            <img src="public/img/kirsten.jpg" alt="pic-2" class="med-pics">
            <img src="public/img/tailslide.jpg" alt="pic-3" class="med-pics">
            <img src="public/img/drop-in-2.jpg" alt="pic-4" class="med-pics">
        </section>
        <script src="public/js/app.js"></script>
    </body>
</html>